<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guide</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body class="dashboard">
    <div class="header">
        <a href="/dashboard">OoA Typer</a>
        <div class="right-header">
            <a href="/guide">GUIDE</a>
            <a href="/group">GROUP</a>
            <a href="/leaderboard">LEADERBOARD</a>
            <a href="/friendslist">FRIENDS</a>
            <form action="/logout" method="POST">
                <button id="logout-button">LOGOUT</button>
            </form>
        </div>
    </div>
    <div class="guide">
        <div class="guide-box">
            <ol>
                <li>Create or Join an Existing Group from the GROUPS page</li>
                <li>You have <span style="color: white; background-color: #777777; font-size: 30px;">1</span> trial per day to set a daily WPM</li>
                <li>Highest WPM in your group will be granted a Win at 12AM PST</li>
                <li>Trial for a new passage will unlock at 12AM PST each day</li>
                <li>Add friends from the friends page</li>
                <li>Leaderboard page shows a leaderboard of all your friends</li>
            </ol>
        </div>
    </div>
</body>