<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <script>
        function timerfunc(){
            const interval = setInterval(function() {
            var time = new Date();
            let timer = document.getElementById('timer')
            let formatNum = []
            console.log(time)
            formatNum[0] = 24 - time.getHours();
            formatNum[1] = 59 - time.getMinutes();
            formatNum[2] = 59 - time.getSeconds();
            [formatNum[0], formatNum[1], formatNum[2]].forEach(myNumber => {
                let formattedNumber = myNumber.toLocaleString('en-US', {
                    minimumIntegerDigits: 2,
                    useGrouping: false
                })
                formatNum.push(formattedNumber)
            })
            timer.innerHTML = formatNum[3] + ":" + formatNum[4] + ":" + formatNum[5];
            }, 1000);
        }
    </script>
</head>
<body onload="timerfunc()">
    <div class="header">
        <a href="/dashboard">OoA Typer</a>
        <div class="right-header">
            <a href="/guide">GUIDE</a>
            <a href="/group">GROUP</a>
            <a href="leaderboard">LEADERBOARD</a>
            <a href="/friendslist">FRIENDS</a>
            <form action="/logout" method="POST">
                <button id="logout-button">LOGOUT</button>
            </form>
        </div>
    </div>
    <div class="timer-box">
        <p class="timer">Time Remaining</p>
        <p id="timer">13:45:11</p>
    </div>
    <div class="leaderboard-box">
        <table class="leaderboard" cellspacing="0">
            <tr class="leaderboard-row">
                <th>Username</th>
                <th>Today's WPM</th>
                <th>Total Wins</th>
            </tr>
            <% if (friendsData.length > 0) { %> 
                <% for (let i = 0; i < friendsData.length; i++) { %> 
                    <tr class='leaderboard-row' data-place="<%- i %>">
                        <td class="table-username"><%- friendsData[i].result[0].username %> </td>
                        <td><%- friendsData[i].result[0].wpm %> </td>
                        <td><%- friendsData[i].result[0].wins %> </td>
                    </tr>
                <% } %>
            <% } %> 
        </table>
    </div>
</body>
</html>