<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
    <script src="https://www.google.com/recaptcha/api.js?render=6LcnMD0kAAAAAPjwwGtcIGrM3jOGWE7_M-F7_9lI"></script>
    <title>Log In</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
</head>
<body class="login">
    <div class="header">
        <a href="dashboard">OoA Typer</a>
        <div>
            <a href="/guide">GUIDE</a>
            <a href="register">REGISTER</a>
        </div>
    </div>
    <div class="logo-box" style="color: rgb(120, 120, 252);">
        <letter>O</letter>
        <letter>o</letter>
        <letter>A</letter>
        <letter>&nbsp;</letter>
        <letter>T</letter>
        <letter>Y</letter>
        <letter>P</letter>
        <letter>E</letter>
        <letter>R</letter>

    </div>
    <form action="/users/login" method="POST">
        <div class="login">
            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
        </div>
        <% if (message) { %> 
            <div class="flash-error"> <%= message  %> </div>
        <% } %> 
        <div class="flexbox">
            <button  class="submit"><i class="fa fa-chevron-right" aria-hidden="true" style="background: transparent; color: blue;"></i></button>
        </div>
    </form>
</body>
<script></script>
</html>