<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />

    <title>Log In</title>
</head>
<body class="login">
    <div class="header">
        <a href="dashboard">OoA Typer</a>
        <div>
            <a href="register">REGISTER</a>
        </div>
    </div>
    <div class="logo" style="color: rgb(120, 120, 252);">
        OoA Typer
    </div>
    <form action="/users/login" method="POST">
        <div class="login">
            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
        </div>
        <div class="flexbox">
            <button  class="submit"><i class="arrow right"></i></button>
        </div>
    </form>
    
</body>
</html>